.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-pulse infinite 2s ease-in-out;
  pointer-events: none;
  height: 200px;
}

.App-header {
  background-color: #1caad9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-pulse {
  0% {
    opacity: .6;
  }
  50% {
    opacity: .9;
    transform: scale(1.05)
  }
  100% {
    opacity: .6;
  }
}
